/**
 * @author gyb(mocheer)
 * @email mocheer@foxmail.com  
 * @param date 2017.5.26
 */
.ControlBox{
    cursor:pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 2px; 
}
.ControlBox i{
  border-bottom: solid 1px #ccc;
  padding: 7px 6px;
  display: block
}
.ControlBox i:hover{
    background-color: rgba(204,204,204,0.5)
}