/**
 * @author gyb(mocheer)
 * @email mocheer@foxmail.com  
 * @param date 2017.5.26
 */
.DataTable{
   cursor:default; 
   background-color: #FFFFFF;
}

.DataTable table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom:0px;
  table-layout:fixed;/*固定*/
}

.DataTable .tableheader{
  background: #1C8AC1; //表头背景色
  color:#E1F5FB;       //表头字体颜色
  font-weight: normal;   //
  font-size: 13px;
}

.DataTable .tablebody{
  overflow: auto;
  border:1px solid #ddd;
}

.DataTable thead>tr>th{
  font-weight: inherit;
  white-space: normal;
  font-size: inherit;
  text-align: center;
  vertical-align: middle !important;
}

.DataTable td {
  white-space:normal;
  font-size: 12px;
  vertical-align: middle !important;
}

.DataTable .table-bordered>thead>tr>th{
  padding:7px 2px 5px;//5px;
  border-bottom: 0px;
  border-color: #3B9CC8
}

.DataTable .table-bordered{
  border-bottom: 0px;
}

.DataTable .tableheader .table-bordered{
  border: 0px;
}