/**
 * @author gyb(mocheer)
 * @email mocheer@foxmail.com  
 * @param date 2017.5.26
 */
//页签 头部
.NavTab>ul{
  background-color: #E4F3FF;
}
//
.NavTab>ul>li{
  margin: 5px 0px 0px 0px;
  font-size: 13px;
  font-weight: bold;
}
//页签 文本
/*padding:10px 15px*/
.NavTab>.nav>li>a{
  padding:4px 8px;
  //在少数机子的360浏览器下会自动换行，所以强制不换行
  white-space: nowrap;
}

